/* Your CSS Code here. */
.box {
	background-color: lightblue;
	border: 15px solid blue;
	margin: 20px;
	width: 300px;
	padding: 50px;
}

.para {
/* 	background-color: lightblue;
	border: 15px solid blue;
	margin: 20px;
	width: 300px;
	padding: 50px; */
}

